# Gulp, NPM, Bower
/node_modules
/.tmp
/.sass-cache
/bower_components

# Mac stuff
/.DS_Store

# WordPress Stuff

languages
layouts
scss
.jshintrc
bower.json
gulpfile.json
package.json
rtl.css
gulpfile.js



