# Gulp, NPM, Bower
/node_modules
/.tmp
/.sass-cache
/bower_components

# Mac stuff
/.DS_Store

# WordPress Stuff
/inc
/languages
/layouts
/scss
.jshintrc
bower.json
content-none.php
content-page.php
content-search.php
content-single.php
content.php
gulpfile.json
package.json
rtl.css


